<table>
  <tr>
    <th>Name</th>
    <th>Lighthouse #</th>
    <th>Details</th>
  </tr>
  
  <% @issues.each do |issue| %>
    <tr>
      <td><%= edit_issue_path(issue.contributor_name) %></td>
      <td><%= issue.lighthouse_id %></td>
      <td><%= truncate(issue.details) %></td>
    </tr>
  <% end %>
</table>
