body {
  font-family: Georgia, Times, serif;
  line-height: 1.5em;
  color: #333;
  background: #fff;
}

#header {
  padding: 20px;
}

#content {
  float: left;
  width: 66%;
  margin-right: 6%;
}

#sidebar {

}

#footer {
  clear: both;
  padding: 20px;
}

#header h2 {
  padding: 0;
  margin: 0;
  width: 50%;
  letter-spacing: 2px;
  font-variant: small-caps;
}

#nav {
  float: right;
  margin: 0;
  border-bottom: 1px solid #BE0726;
}

#nav li {
  list-style: none;
  display: inline;
}

#nav a {
  line-height: 14px;
  font-weight: bold;
  margin: 0 10px 4px 10px;
  text-decoration: none;
}

.flash {
  font-size: 1.8em;
  text-align: center;
  padding: 20px 0;
  letter-spacing: .1em;
  font-variant: small-caps;
  text-transform: lowercase;
}

.flash_success {

}

.flash_error {
  color: #BE0726;
}

.pagination {
  font-size: 1.2em;
  line-height: 1.833;
  float: right;
}
