<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= link_to(h(participant.name), participant) %></td>
    <td><%= participant.score %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @participants %>
