<h2>August 2009 BugMash participants</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%=h participant.name %></td>
    <td><%= participant.score %></td>
  </tr>
<% end %>
</table>
