<% form_for(@participant) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.submit 'Sign me up' %>
  </div>
<% end %>
